<div class="wrapper">
  <header class="topbar">
    <img src="images/mrmr_logo.svg" alt="mrmr" class="image"></img>
    <h1 class="topbaritem">Welcome to {{title}}</h1>
  </header>
  <article class="chat">
    Chat
  </article>
  <aside class="sidebar">
    Side Bar
  </aside>
  <footer class="input">
    Input
  </footer>
</div>