<div class="wrapper">
  <img src="images/pen.svg" alt="PEN" class="bg-image"></img>
  <header class="topbar">
    <img src="images/mrmr_logo.svg" alt="mrmr" class="image"></img>
  </header>
  <article class="chat" id="chat">
    <ul id="chat-insert">
    </ul>
  </article>
  <aside class="sidebar" id="sidebar">
    <ul id="room-insert">
    </ul>
  </aside>
  <footer class="input">
     <form onsubmit="return false">
        <input type="text" class="text-bar btn" placeholder="secret">
        <button id="submit-button" type="submit" class="submit-button btn" style="vertical-align: middle">Send</button>
    </form>
  </footer>
</div>