<nav class="navbar navbar-default" style="display: flex" >
    <div class="container-fluid navbar-header" style="margin: 0px" >
        <!--<img src='images/mrmr_logo.svg' alt="mrmr" style="height: 100%; float: left; vertical-align: baseline">-->
        <h1 style="color: #ddd"><small>Welcome to {{title}}</small></h1>
        <ul class="nav nav-tabs">
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> 
                    Dropdown <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>Change Your Name</li>
                    <li>Change the Color Scheme</li>
                <ul>
            </li>
        </ul>
    </div>
</nav>

<div class='row' style="padding-bottom: 4em;">
    <div class='col-sm-12'>
        <ul id='messages-area' class='list-group'></ul>
    </div>
</div>

<nav class='navbar navbar-fixed-bottom'>
    <form action="">
        <input type="text" class="text-bar btn" placeholder="secret">
        <button type="submit" class="submit-button btn" onclick="sendFunction()">Send</button>
    </form>
</nav>
