<div class="background-image">
  <img src="images/pen.svg" alt="" class="image"></img>
</div>

<div id="page">
  <div id="menu" class="top-bar">
    <button id="menu-close" class="fa fa-bars menu-button" type="button" onclick="dropdownOpen()"></button>
    <button id="room-close" class="fa fa-times room-close" style="display: none" type="button" onclick="roomoverlayClose()"></button>
    <div class="top-bar-title">
      <img src="images/mrmr_logo.svg" alt="LOGO HERE">
    </div>
    <div class="top-bar-right">
      <button id="settings-button" type="button" class="button primary" onclick="settingsOpen()">
        <strong id='settings-text'>Settings</strong>
      </button>
      <div class="settings-dropdown" id="settings-dropdown" style="display: none">
        <button id="settings-dropdown" type="button" class="settings-drop-button button primary" onclick="changenamePopup()">
          <strong>Change Your Name</strong>
        </button>
        <button id="make-room" type="button" class="settings-drop-button button primary make-room" onclick="makeroomPopup()">
          <strong>Make a Room</strong>
        </button>
      </div>
      <button id="room-settings-button" type="button" class="button primary room-settings-button" style="display: none" onclick="roomsettingsOpen()">
        <strong id='room-settings-text'>Room Settings</strong>
      </button>
      <div class="room-settings-dropdown" id="room-settings-dropdown" style="display: none">
        <button id="settings-dropdown" type="button" class="settings-drop-button button primary" onclick="changeroomnamePopup()">
          <strong>Change Room Name</strong>
        </button>
      </div>
      <button id="roomoverlayOpen" type="button" class="button primary" onclick="roomoverlayOpen()">
        <strong>Room List</strong>
      </button>
    </div>
  </div>

  <div id="dropdown" class="flex-box-drop" style="display: none">
    <button id="settings-dropdown" type="button" class="settings-drop-button button primary flex-button" onclick="changenamePopup()">
      <strong>Change Your Name</strong>
    </button>
    <button id="make-room" type="button" class="settings-drop-button button primary flex-button make-room" onclick="makeroomPopup()">
      <strong>Make a Room</strong>
    </button>
    <button id='room-settings-button' type="button" class="button primary flex-button room-settings-button" style="display: none" onclick="changeroomnamePopup()">
      <strong>Change Room Name</strong>
    </button>
    <button id="roomoverlayOpen" type="button" class="button primary flex-button" onclick="roomoverlayOpen()">
      <strong>Room List</strong>
    </button>
  </div>

  <ul id="chat-insert" class="text scrollable">
  </ul>

  <div class="row">
    <form id="input" onsubmit="return false" class="input-area">
      <input id="message" type="text" class="message-input" placeholder="secret" autocomplete="off">
      <button type="submit" id="submit-button" class="button primary submit-button" onclick="sendMessage()"><strong>Send</strong></button>
    </form>
  </div>
</div>

<div id="room-overlay" class="room-overlay" style="display: none">
</div>

<div id="popup"class="popup-container" >
  <div class="card popup">
    <div class="card-divider popup-divider card-flex">
      <button id="popup-close" class="fa fa-times popup-close" type="button" onclick="closepopup()"></button>
      <p class="popup-header"><strong id="popup-header"></strong></p>
    </div>
    <div id="popup-footer" class="card-divider popup-divider card-flex">
    </div>
  </div>
</div>