<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link id="favicon" rel="shortcut icon" href="images/pen_favicon.ico" type="image/x-icon">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/socket.js"></script>
    <script src="/javascripts/UI.js"></script>
  </head>

  <body>
    {{{body}}}
  </body>

</html>