* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #111;
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  position: relative;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  
  font-weight: bold;
  
  height: 100vh;
}

.bg-image {
  z-index: -1;
  position: absolute;
  opacity: .3;
  margin-top: 4vh;
  height: 84vh;
}

.topbar {
  display: flex;
  width: 100%;
  order: 1;
  height: 7%;
  .topbaritem {
    color: white;
  }
}

.image {
  height: 100%;
}

.sidebar {
  background-color: rgba(64,64,64,.6);
  width: 15%;
  -webkit-align-self: stretch;
  align-self: stretch;
  order: 2;
  height: 85%;
}

.chat {
  background-color: rgba(0,0,0,0);
  width: 85%;
  -webkit-align-self: stretch;
  align-self: stretch;
  order: 3;
  height: 85%;
}

.input {
  background-color: #303030;
  width: 100%;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  order: 4;
  height: 8%;
}

.text-bar{
  height: 2em;
  margin: .5%;
  width: 82%;
  text-align: left;
}

.submit-button{
  padding: 0px;
  height: 2em;
  margin: .5%;
  width: 15%;
}

.submit-button:hover{
  background-color: blue;
}